body {
      margin-left: 250px;
      margin-right: 250px;
      font-family:veranda, arial, roman;
     
}
.Resume {
       background-image:url(http://2.bp.blogspot.com/-7oiU68Xq4LM/VXVdMJeq1_I/AAAAAAAAAFs/HTYqAtmDucs/s1600/engineeringSW.jpg)
     
}
